// MOBILE VIEW
.section {
  .section-inner {
    margin: auto;
    max-width: 1155px;
    transition: all 1s ease;

    .label {
      width: fit-content;
      padding-bottom: 10px;

      .label-inner {
        height: 12px;
        width: fit-content;
        column-gap: 10px;
        display: flex;
        align-items: center;
        justify-content: left;
        transition: all ease 1s;
        padding-bottom: 0px;

        img {
          width: 25px;
        }
      }
    }

    .centered {
      margin: auto;
    }

    .padded {
      padding: 20px;
      transition: all ease-in-out 1s;
    }
  }
}

.border {
  border-left: solid;
  border-right: solid;
  transition: all 1s ease-in-out;
}

.light {
  border-color: transparent;
  transition: all 1s ease-in-out;
}

.dark {
  border-color: transparent;
  transition: all 1s ease-in-out;
}

.thin {
  border-width: 0.5px;
  transition: all 1s ease-in-out;
}

.regular {
  border-width: 1px;
  transition: all 1s ease-in-out;
}

// DESKTOP VIEW
@media only screen and (min-width: 600px) {
  .section {
    .section-inner {
      .label {
        padding-bottom: 15px;

        .label-inner {
          font-size: 16px;
          height: 16px;
          transform: rotate(-90deg) translate(0px, 100%);
          transform-origin: bottom left;
          transition: all ease-in-out 1s;
          padding-bottom: calc(100% - 16px);
        }
      }

      .padded {
        padding: 30px 60px;
        transition: all ease-in-out 1s;
      }
    }
  }

  .border {
    border-left: solid;
    border-right: solid;
    transition: all 1s ease-in-out;
  }

  .light {
    border-color: transparent;
    transition: all 1s ease-in-out;
  }

  .dark {
    border-color: transparent;
    transition: all 1s ease-in-out;
  }

  .thin {
    border-width: 0.5px;
    transition: all 1s ease-in-out;
  }

  .regular {
    border-width: 1px;
    transition: all 1s ease-in-out;
  }
}

// 1155px and WIDER
@media only screen and (min-width: 1155px) {
  .border {
    border-left: solid;
    border-right: solid;
    transition: all 1s ease-in-out;
  }

  .light {
    border-color: white;
    transition: all 1s ease-in-out;
  }

  .dark {
    border-color: var(--silver-polish);
    transition: all 1s ease-in-out;
  }

  .thin {
    border-width: 0.5px;
    transition: all 1s ease-in-out;
  }

  .regular {
    border-width: 1px;
    transition: all 1s ease-in-out;
  }
}
